/* === ROOT === */
:root {
  --font__logo: 'Cormorant', serif;
  --font__sans: 'Inter', sans-serif;
  --font__serif--1: 'Cormorant Garamond', serif;
  --font__serif--2: 'Libre Baskerville', serif;
  --font__base: var(--font__sans);

  font-size: 62.5%;

  --color__bg--1: 255, 255, 255;
  --color__bg--2: 31, 31, 31;
  --color__bg--3: 248, 251, 255;
  --color__content--1: 255, 255, 255;
  --color__content--2: 0, 0, 0;
  --color__content--3: 199, 195, 192;
  --color__primary--1: 164, 121, 95;
  --color__primary--2: 102, 33, 19;
  --color__accent--1: 208, 228, 255;

  --gap: 2rem;
  --container-max-width: 144rem;

  color-scheme: light dark;
}

/* === RESET === */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

/* === GLOBAL === */
body {
  font-family: var(--font__base);
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(var(--color__content--1));
  background: rgb(var(--color__bg--1));

  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.section {
  padding: clamp(4.8rem, 6vw, 6.4rem) clamp(2.4rem, 6vw, 6.4rem);
}

.section .container {
  width: 100%;
  max-width: var(--container-max-width);

  display: flex;
  flex-direction: column;
  gap: clamp(3.2rem, 5vw, 6.4rem);
}

.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.section__header--text {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.section__header--text .btn {
  margin-left: auto;
}

.section__title {
  color: rgb(var(--color__primary--1));
}

.section__header .btn {
  color: rgb(var(--color__content--2));
  min-width: 12rem;
}

.section--icon {
  width: 4.8rem;
  height: 4.8rem;
}

.section__actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .section__actions {
    justify-content: flex-start;
  }

  .section__header--text {
    flex-direction: column;
    align-items: flex-start;
  }

  .section__header--text .btn {
    margin-left: 0;
  }
}

/* === TYPOGRAPHY === */
h1, h2, h3, h6 {
  font-optical-sizing: auto;
  text-transform: uppercase;
}

h1 {
  font-family: var(--font__serif--1);
  font-size: clamp(6.4rem, 6vw, 9.6rem);
  font-weight: 100;
}

h2 {
  font-family: var(--font__serif--1);
  font-size: clamp(2.8rem, 3vw, 3.6rem);
  font-weight: 500;
}

h3 {
  font-family: var(--font__serif--2);
  font-size: clamp(2rem, 2vw, 2.8rem);
  font-weight: 400;
}

h5 {
  font-family: var(--font__sans);
  font-size: 2rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  h1 {
    font-size: clamp(4.8rem, 10vw, 6.4rem);
  }

  h2 {
    font-size: clamp(2.8rem, 6vw, 3.2rem);
  }
}

/* === BUTTONS === */
.btn {
  display: flex;
  gap: .4rem;
  background-color: transparent;
  color: rgb(var(--color__content--1));
  text-transform: uppercase;
  font-family: var(--font__sans);
  font-size: clamp(1.2rem, 5vw, 1.6rem);
  padding: clamp(.8rem, 5vw, 1.6rem) 0;
  align-items: center;
}

.btn--text {
  position: relative;
  display: inline-block;
}

.btn--line {
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 100%;
  height: 2px;
  background-color: currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.btn:hover .btn--line {
  transform: scaleX(1);
}

.btn--primary {
  font-weight: 600;
}

.btn--secondary {
  opacity: 0.7;
}

/*.btn--line {
  width: 100%;
  height: .1rem;
  background: rgb(var(--color__content--1));
} */

/* .btn--secondary .btn--line,
.btn--tertiary .btn--line {
  display: none;
} */

/* === SVG === */
.btn--icon {
  width: 1em;
  height: 1em;
  stroke: currentColor;
  flex-shrink: 0;
}

.btn--secondary, .btn--tertiary {
  color: rgba(var(--color__content--3));
}

@media (max-width: 768px) {
  .btn {
    font-size: 1.4rem;
  }
}

/* === NAVIGATION  === */
.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 100;
  width: 100%;
  height: 6.4rem;

  display: flex;
  justify-content: center;

  background: rgba(var(--color__bg--1), 0.05);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  transition: all 0.3s ease;
}

.header.changeHeaderBG {
  background: rgba(var(--color__bg--2), 0.75);
}

.nav {
  padding: 0.8rem 6.4rem;
  width: 100%;
  max-width: var(--container-max-width);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-family: var(--font__logo);
  font-size: 2.4rem;
  font-weight: 600;
}

.nav__menu {
  display: none;
  padding: .8rem;
}

.nav__menu--icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: currentColor;
  flex-shrink: 0;
}

.nav__list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(var(--color__content--1), 0.7);
}

.nav__link:hover {
  color: rgb(var(--color__content--1));
}

/* NAV LINK COLOR ON SCROLL === */
/*
.header.changeHeaderBG .nav__link,
.header.changeHeaderBG .nav__logo,
.header.changeHeaderBG .nav__menu--icon  {
  color: rgba(var(--color__content--2));
}
*/
@media (max-width: 1024px) {
  .nav {
    padding: 0.8rem 4.8rem;
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 0.8rem 3.2rem;
    flex-direction: column;
  }  
  .nav__menu {
    display: flex;
  }

  .nav__list {
    position: absolute;
    margin: 0;
    top: 6.4rem;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    gap: 2.4rem;
    padding: 3.2rem;

    background: rgba(var(--color__bg--2), 0.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    transform: translateX(100%);
    transition: all 0.3s ease;
  }

  .nav__list.active {
    transform: translateX(0);
  }

  .nav__brand {
    height: 6.4rem;
  } 
}

/* === FOOTER === */
.footer {
  background-color: rgb(var(--color__bg--2));
  display: flex;
  flex-direction: column;
  gap: 6.4rem;

  padding: 9.6rem 6.4rem;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 4.8rem;
}

.footer__columns {
  width: 100%;
  max-width: 54rem;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer__link {
  text-decoration: none;
  text-transform: uppercase;

  font-size: 1.4rem;
  color: rgb(var(--color__content--3));
}

.footer__link:hover {
  color: rgb(var(--color__content--1));
}

.footer__newsletter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.newsletter__contents {
  max-width: 42rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.newsletter-desc {
  font-size: 1.4rem;
}

.newsletter-form {
  display: flex;
  gap: .8rem;
}

.newsletter-form__input {
  border: none;
  border-bottom: 1px solid rgb(var(--color__content--3));
  outline: none;
  background-color: transparent;
  padding: 1.6rem 0;

  color: rgba(var(--color__content--1));
  font-family: var(--font__base);
  font-weight: 500;
  font-size: 1.6rem;
}

.newsletter-form__input ::placeholder {
  color: rgb(var(--color__content--3));
}

.newsletter-form__input :focus {
  border: 1px solid rgb(var(--color__primary--1));
}

/*
.newsletter-form__input :not(:placeholder-shown) {
  border-bottom: 1px solid green;
} */

.newsletter-form__submit {
  height: 5.2rem;
  width: 5.2rem;

  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-form__submit .btn--icon {
  width: 3.6rem;
  height: 3.6rem;
  color: rgba(var(--color__content--1));
  stroke-width: 1rem;
}

.footer__logo-signature__wrapper {
  display: flex;
  justify-content: center;
}
.footer__logo-signature {
  margin-top: 4.8rem;
  height: 9.6rem;
}

.footer__copyright {
  font-size: 1.4rem;
}

@media (max-width: 1024px) {
  .footer {
    padding: 6.4rem 4.8rem;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 6.4rem 3.2rem;
  }

  .footer__content {
    flex-direction: column;
    gap: 4.8rem;
  }

  .footer__columns {
    justify-content: flex-start;
    gap: 2.4rem;
  }

  .footer__newsletter {
    justify-content: flex-start;
  }

  .footer__logo-signature__wrapper{
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 6.4rem 2.4rem;
  }

  .footer__columns {
    flex-direction: column;
  }
}