/* === ROOT === */
:root {
  --font__logo: 'Cormorant', serif;
  --font__sans: 'Inter', sans-serif;
  --font__serif--1: 'Cormorant Garamond', serif;
  --font__serif--2: 'Libre Baskerville', serif;
  --font__base: var(--font__sans);

  font-size: 62.5%;

  --color__bg--1: 255, 255, 255;
  --color__bg--2: 31, 31, 31;
  --color__content--1: 255, 255, 255;
  --color__content--2: 0, 0, 0;
  --color__content--3: 199, 195, 192;
  --color__primary--1: 164, 121, 95;

  --gap: 2rem;
  --container-max-width: 144rem;

  color-scheme: light dark;
}

/* === RESET === */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

/* === GLOBAL === */
body {
  font-family: var(--font__base);
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(var(--color__content--1));
  background: rgb(var(--color__bg--1));

  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.section {
  padding: clamp(6.4rem, 8vw, 12rem) 0;
}

/* === TYPOGRAPHY === */
h1, h2, h3, h6 {
  font-optical-sizing: auto;
  text-transform: uppercase;
}

h1 {
  font-family: var(--font__serif--1);
  font-size: clamp(6.4rem, 6vw, 9.6rem);
  font-weight: 100;
}

h2 {
  font-family: var(--font__serif--1);
  font-size: clamp(2.8rem, 3vw, 3.6rem);
  font-weight: 500;
}

h3 {
  font-family: var(--font__serif--2);
  font-size: clamp(2rem, 2vw, 2.8rem);
  font-weight: 400;
}

h5 {
  font-family: var(--font__sans);
  font-size: 2rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  h1 {
    font-size: clamp(4.8rem, 10vw, 6.4rem);
  }

  h2 {
    font-size: clamp(2.8rem, 6vw, 3.2rem);
  }
}

/* === NAVIGATION  === */
.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 100;
  width: 100%;
  height: 6.4rem;

  display: flex;
  justify-content: center;

  background: rgba(var(--color__bg--1), 0.05);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  transition: all 0.3s ease;
}

.header.changeHeaderBG {
  background: rgba(var(--color__bg--1) 0.75);
}

.nav {
  padding: 0.8rem 6.4rem;
  width: 100%;
  max-width: var(--container-max-width);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-family: var(--font__logo);
  font-size: 2.4rem;
  font-weight: 600;
}

.nav__menu {
  display: none;
  padding: .8rem;
}

.nav__menu--icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: currentColor;
  flex-shrink: 0;
}

.nav__list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(var(--color__content--1));
}

/* NAV LINK COLOR ON SCROLL === */
.header.changeHeaderBG .nav__link,
.header.changeHeaderBG .nav__logo,
.header.changeHeaderBG .nav__menu--icon  {
  color: rgba(var(--color__content--2));
}

@media (max-width: 1024px) {
  .nav {
    padding: 0.8rem 4.8rem;
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 0.8rem 3.2rem;
  }

  .nav__list {
    display: none;
    gap: 2rem;
  }
  
  .nav__menu {
    display: flex;
  }
}

/* === BUTTONS === */
.btn {
  display: flex;
  gap: .4rem;
  background-color: transparent;
  color: rgb(var(--color__content--1));
  text-transform: uppercase;
  font-family: var(--font__sans);
  font-size: clamp(1.2rem, 5vw, 1.6rem);
}


.btn--primary {
  font-weight: 600;
}

.btn--secondary {
  opacity: 0.7;
}

.btn--text {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.btn--line {
  width: 100%;
  height: .1rem;
  background: rgb(var(--color__content--1));
}

.btn--secondary .btn--line,
.btn--tertiary .btn--line {
  display: none;
}

/* === SVG === */
.btn--icon {
  width: 1em;
  height: 1em;
  stroke: currentColor;
  flex-shrink: 0;
}

.btn--secondary, .btn--tertiary {
  color: rgba(var(--color__content--3));
}