/* === HERO === */
.hero {
  position: relative;
  width: 100%;
  overflow: hidden;

  padding: clamp(4rem, 5vw, 6.4rem) 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  /*
  background-image:
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.55) 0%,
      rgba(0, 0, 0, 0.15) 50%,
      rgba(0, 0, 0, 0) 80%
    ),
    url("../assets/images/Hero.png");

  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  */ 
}

/* === HERO IMAGE === */
.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


.hero::after {
  content: '';
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.45) 10%,
    rgba(0, 0, 0, 0.15) 60%,
    rgba(0, 0, 0, 0) 90%
  );

  z-index: 0;
}

/* === HERO CONTENT === */
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  z-index: 1;

  width: 100%;
  max-width: var(--container-max-width);
  padding: 0 6.4rem;
  height: 100%;
  text-transform: uppercase;
}

.hero__content--text {
  height: 100%;
  padding-top: 6.4rem;

  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 3.2rem;
}

.hero__title {
  max-width: 72rem;
}

.hero__subtitle {
  max-width: 64rem;

  font-family: var(--font__serif--2);
  font-size: 1.6rem;
  font-weight: 400;

  color: rgba(var(--color__content--1), 0.9);
}

.hero__actions,
.hero__buttons {
  display: flex;
  gap: 3.2rem;
}

.hero__actions {
  justify-content: space-between;
}

/* === HERO COLLECTION === */
.hero__featured--collection {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: var(--font__serif--2);
}

.hero__collection {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.hero__collection--name {
  font-size: 1.6rem;
  color: rgba(var(--color__content--3));
}

.hero__collection .btn {
  font-size: 1.2rem;
}

@media (max-width: 1024px) {
  .hero{
    padding: 6.4rem 4.8rem;
  }

  .hero__content {
    padding: 0;
  }

  .hero__title {
    width: 90%;
  }

  .hero__content--text {
    justify-content: end;
    gap: 2em;
  }
}

@media (max-width: 768px) {
  .hero {
    background-position: center;
    padding: 6.4rem 3.2rem;
  }

  .hero__actions {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;
  }

  .hero__buttons {
    flex-direction: column;
    gap: 1.6rem;
  }

  .hero__featured--collection {
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 6.4rem 2.4rem;
    height: 90dvh;
  }

  .hero__title {
    font-size: 3.6rem;
  }

  .hero__subtitle {
    font-size: 1.4rem;
  }
}

/* === SIGNATURE COLLECTION === */
.signature-collection {
  width: 100%;

  padding: clamp(4rem, 6vw, 6.4rem) clamp(2.4rem, 6vw, 19.2rem);

  display: flex;
  justify-content: center;
}

.product-card__image-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signature-collection .product-card__image {
  width: 70%;
}

.product-card__details {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  padding: clamp(2.4rem, 5vw, 4.8rem) 0;
}

.product-card__name {
  color: rgb(var(--color__content--2));
  font-size: clamp(2.4rem, 5vw, 2.8rem);
}

.product-card__desc {
  color: rgba(var(--color__content--2), 0.5);
  font-size: clamp(1.4rem, 5vw, 1.6rem);
}

@media (max-width: 768px) {
  .signature-collection {
    padding: 4.8rem;
  }

    .section__header {
      gap: 2.4rem;
    }

    .section--icon {
    width: 3.2rem;
    height: 3.2rem;
  }
}

/* === GUIDE === */
.guide {
  padding: clamp(2.4rem, 6vw, 6.4rem);
}

.guide .product-card__image {
  width: 70%;
  max-width: 42rem;
}

.guide__steps {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: clamp(2.4rem, 5vw, 6.4rem);
}

.step {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.step__index,
.step__title {
  color: rgb(var(--color__content--2));
}

.step__index {
  font-family: var(--font__serif--1);
  font-style: italic;
  color: rgb(var(--color__content--2));
}

.step__desc {
  color: rgba(var(--color__content--2), 0.5);
}

.guide .btn {
  color: rgb(var(--color__content--2));
}

.guide .btn--line {
  background-color: rgb(var(--color__content--2));
}

@media (max-width: 768px) {
  .guide__steps {
    flex-direction: column;
  }

  .step {
    width: 90%;
  }
}

/* === FOOTER === */
.footer {
  background-color: rgb(var(--color__bg--2));
  display: flex;
  flex-direction: column;
  gap: 6.4rem;

  padding: 9.6rem 6.4rem;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 4.8rem;
}

.footer__columns {
  width: 100%;
  max-width: 54rem;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer__link {
  text-decoration: none;
  text-transform: uppercase;

  font-size: 1.4rem;
  color: rgb(var(--color__content--3));
}

.footer__newsletter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.newsletter__contents {
  max-width: 42rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.newsletter-desc {
  font-size: 1.4rem;
}

.newsletter-form {
  display: flex;
  gap: .8rem;
}

.newsletter-form__input {
  border: none;
  border-bottom: 1px solid rgb(var(--color__content--3));
  outline: none;
  background-color: transparent;
  padding: 1.6rem 0;

  color: rgba(var(--color__content--1));
  font-family: var(--font__base);
  font-weight: 500;
  font-size: 1.6rem;
}

.newsletter-form__input ::placeholder {
  color: rgb(var(--color__content--3));
}

.newsletter-form__input :focus {
  border: 1px solid rgb(var(--color__primary--1));
}

/*
.newsletter-form__input :not(:placeholder-shown) {
  border-bottom: 1px solid green;
} */

.newsletter-form__submit {
  height: 5.2rem;
  width: 5.2rem;

  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-form__submit .btn--icon {
  width: 3.6rem;
  height: 3.6rem;
  color: rgba(var(--color__content--1));
  stroke-width: 1rem;
}

.footer__logo-signature__wrapper {
  display: flex;
  justify-content: center;
}
.footer__logo-signature {
  margin-top: 4.8rem;
  height: 9.6rem;
}

.footer__copyright {
  font-size: 1.4rem;
}

@media (max-width: 1024px) {
  .footer {
    padding: 6.4rem 4.8rem;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 6.4rem 3.2rem;
  }

  .footer__content {
    flex-direction: column;
    gap: 4.8rem;
  }

  .footer__columns {
    justify-content: flex-start;
    gap: 2.4rem;
  }

  .footer__newsletter {
    justify-content: flex-start;
  }

  .footer__logo-signature__wrapper{
    justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 6.4rem 2.4rem;
  }
}
